FORMAT: 1A
HOST: https://maps.googleapis.com/maps/api/geocode/

# GeocodingAPI

The Google Maps Geocoding API is a service that provides geocoding and reverse geocoding of addresses.

Geocoding is the process of converting addresses (like a street address) into geographic coordinates (like latitude and longitude), which you can use to place markers on a map, or position the map.

Reverse geocoding is the process of converting geographic coordinates into a human-readable address. The Google Maps Geocoding API's reverse geocoding service also lets you find the address for a given place ID.


## Geocoding Service [/{response_type}{?address,key}]

+ Parameters
    + response_type - json or xml response
    + address - Address to be geocoded
    + key - API key registered with google developer

### Get Geocoding for an address [GET]

+ Response 200 (application/json)

        {
            "results": [{
                "address_components": [{
        "long_name": "1600",
        "short_name": "1600",
        "types": ["street_number"]
        }, {
        "long_name": "Amphitheatre Pkwy",
        "short_name": "Amphitheatre Pkwy",
        "types": ["route"]
        }, {
        "long_name": "Mountain View",
        "short_name": "Mountain View",
        "types": ["locality", "political"]
        }, {
        "long_name": "Santa Clara County",
        "short_name": "Santa Clara County",
        "types": ["administrative_area_level_2", "political"]
        }, {
        "long_name": "California",
        "short_name": "CA",
        "types": ["administrative_area_level_1", "political"]
        }, {
        "long_name": "United States",
        "short_name": "US",
        "types": ["country", "political"]
        }, {
        "long_name": "94043",
        "short_name": "94043",
        "types": ["postal_code"]
        }],
        "formatted_address": "1600 Amphitheatre Parkway, Mountain View, CA 94043, USA",
        "geometry": {
        "location": {
        "lat": 37.4224764,
        "lng": -122.0842499
        },
        "location_type": "ROOFTOP",
        "viewport": {
        "northeast": {
        "lat": 37.4238253802915,
        "lng": -122.0829009197085
        },
        "southwest": {
        "lat": 37.4211274197085,
        "lng": -122.0855988802915
        }
        }
        },
        "place_id": "ChIJ2eUgeAK6j4ARbn5u_wAGqWA",
        "types": ["street_address"]
        }],
        "status": "OK"
        }

## Reverse Geocoding Service [/{response_type}{?latlng,key}]

+ Parameters
    + response_type - json or xml response
    + latlng - Latitude and longitude to be reverse geocoded
    + key - API key registered with google developer
    
### Get Reverse Geocoding for given latitude and longitude [GET]

+ Response 200 (application/json)

        {
        "results" : [
        {
         "address_components" : [
            {
               "long_name" : "277",
               "short_name" : "277",
               "types" : [ "street_number" ]
            },
            {
               "long_name" : "Bedford Avenue",
               "short_name" : "Bedford Ave",
               "types" : [ "route" ]
            },
            {
               "long_name" : "Williamsburg",
               "short_name" : "Williamsburg",
               "types" : [ "neighborhood", "political" ]
            },
            {
               "long_name" : "Brooklyn",
               "short_name" : "Brooklyn",
               "types" : [ "sublocality", "political" ]
            },
            {
               "long_name" : "Kings",
               "short_name" : "Kings",
               "types" : [ "administrative_area_level_2", "political" ]
            },
            {
               "long_name" : "New York",
               "short_name" : "NY",
               "types" : [ "administrative_area_level_1", "political" ]
            },
            {
               "long_name" : "United States",
               "short_name" : "US",
               "types" : [ "country", "political" ]
            },
            {
               "long_name" : "11211",
               "short_name" : "11211",
               "types" : [ "postal_code" ]
            }
         ],
         "formatted_address" : "277 Bedford Avenue, Brooklyn, NY 11211, USA",
         "geometry" : {
            "location" : {
               "lat" : 40.714232,
               "lng" : -73.9612889
            },
            "location_type" : "ROOFTOP",
            "viewport" : {
               "northeast" : {
                  "lat" : 40.7155809802915,
                  "lng" : -73.9599399197085
               },
               "southwest" : {
                  "lat" : 40.7128830197085,
                  "lng" : -73.96263788029151
               }
            }
         },
         "place_id" : "ChIJd8BlQ2BZwokRAFUEcm_qrcA",
         "types" : [ "street_address" ]
        }
        ],
        "status" : "OK"
        }